In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
df = pd.read_csv('https://query.data.world/s/yagys7l2nzjdfcw7geogqntxan2gtw')
df.head()

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft%,NBA_ft_per_g,NBA_fta_p_g,NBA_g_played,NBA_ppg,NCAA__3ptapg,NCAA__3ptpct,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,0.0,0.000,0.0,0.502,0.502,2.4,4.8,0.701,0.9,1.3,256,5.7,0.0,NaN,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,NaN,NaN,NaN,NaN,0.428,3.5,8.2,0.728,2.0,2.8,505,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,0.0,0.056,0.0,0.559,0.559,10.2,18.1,0.721,4.3,6.0,1560,24.6,NaN,NaN,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,2.3,0.354,0.8,0.472,0.442,6.0,13.6,0.905,1.8,2.0,586,14.6,7.2,0.372,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,0.3,0.237,0.1,0.422,0.417,3.1,7.3,0.703,1.6,2.2,236,7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.set_option('display.max_columns', 100)
df.head()

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft%,NBA_ft_per_g,NBA_fta_p_g,NBA_g_played,NBA_ppg,NCAA__3ptapg,NCAA__3ptpct,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,0.0,0.000,0.0,0.502,0.502,2.4,4.8,0.701,0.9,1.3,256,5.7,0.0,NaN,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,NaN,NaN,NaN,NaN,0.428,3.5,8.2,0.728,2.0,2.8,505,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,0.0,0.056,0.0,0.559,0.559,10.2,18.1,0.721,4.3,6.0,1560,24.6,NaN,NaN,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,2.3,0.354,0.8,0.472,0.442,6.0,13.6,0.905,1.8,2.0,586,14.6,7.2,0.372,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,0.3,0.237,0.1,0.422,0.417,3.1,7.3,0.703,1.6,2.2,236,7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
col_name=df.columns
keep=[column for column in col_name if 'NBA' in column]#keep all data with the word nba in it. We can also do this manually.
nbadata=df[keep]

In [10]:
df.loc[34:45, keep].head()

,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft%,NBA_ft_per_g,NBA_fta_p_g,NBA_g_played,NBA_ppg
34,0.7,0.500,0.3,0.625,0.500,0.7,1.3,NaN,0.0,0.0,3,1.7
35,0.0,NaN,0.0,0.314,0.314,0.6,2.0,0.700,0.3,0.4,26,1.5
36,0.4,0.252,0.1,0.483,0.475,3.2,6.7,0.775,1.0,1.3,325,7.5
37,NaN,NaN,NaN,NaN,0.293,1.3,4.5,0.598,0.7,1.2,78,3.3
38,0.1,0.000,0.0,0.513,0.513,1.0,1.9,0.481,0.3,0.7,41,2.3

In [28]:
keep2=['name','position','college','NBA__3ptapg','NBA__3ptpct','NCAA_ft','NBA_g_played']
compd=df[keep2]
compd.loc[56:70]

,name,position,college,NBA__3ptapg,NBA__3ptpct,NCAA_ft,NBA_g_played
56,Malik Allen,F-C,Villanova University,0.0,0.188,0.696,478
57,Randy Allen,F,Florida State University,0.1,0.000,0.615,70
58,Ray Allen,G,University of Connecticut,5.7,0.400,0.779,1300
59,Tony Allen,G-F,"Butler County Community College, Oklahoma Stat...",0.5,0.282,0.682,820
60,Willie Allen,F,University of Miami,0.0,NaN,NaN,7
61,Odis Allison,F,"University of Nevada, Las Vegas",NaN,NaN,NaN,36
62,Lance Allred,C,"University of Utah, Weber State University",0.0,NaN,0.718,3
63,Darrell Allums,F,"University of California, Los Angeles",0.0,0.000,0.688,22
64,Morris Almond,G,Rice University,0.6,0.292,0.824,38
65,Derrick Alston,F,Duquesne University,0.1,0.143,0.576,139
66,Rafer Alston,G,"California State University, Fresno",4.2,0.354,0.758,671
67,Peter Aluma,C,Liberty University,0.0,NaN,0.666,2
68,John Amaechi,C-F,"Vanderbilt University, Pennsylvania State Univ...",0.0,0.077,0.690,294
69,Ashraf Amaya,F,Southern Illinois University,0.0,0.500,0.659,85
70,Al-Farouq Aminu,F,Wake Forest University,2.2,0.337,0.687,587

In [29]:
index_bool = np.isin(df.columns, keep2)#checks if keep2 columns are in df.columns
index_bool

array([False, False, False, False,  True, False,  True,  True, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False,  True, False, False, False, False])

In [30]:
df.iloc[:,index_bool].head()#we can call boolean values using loc too

,college,name,position,NBA__3ptapg,NBA__3ptpct,NBA_g_played,NCAA_ft
0,Duke University,Alaa Abdelnaby,F-C,0.0,0.000,256,0.728
1,Iowa State University,Zaid Abdul-Aziz,C-F,NaN,NaN,505,NaN
2,"University of California, Los Angeles",Kareem Abdul-Jabbar,C,0.0,0.056,1560,0.628
3,Louisiana State University,Mahmoud Abdul-Rauf,G,2.3,0.354,586,0.863
4,"University of Michigan, San Jose State University",Tariq Abdul-Wahad,F,0.3,0.237,236,NaN

In [31]:
threeptmed = pd.Series.median(compd['NBA__3ptpct'].dropna())
threeptmed

0.268

In [32]:
threeptmean = pd.Series.mean(compd['NBA__3ptpct'].dropna())
threeptmean

0.2369881476464611

In [34]:
threeptstd = pd.Series.std(compd['NBA__3ptpct'].dropna())
threeptstd
avggplay=pd.Series.mean(compd["NBA_g_played"].dropna())

In [44]:
cond1=compd['NBA__3ptpct']>(threeptmean)
cond2=compd["position"]=='G'
cond3=compd["NBA_g_played"]>avggplay
cond4=compd["NBA__3ptapg"]>pd.Series.mean(compd["NBA__3ptapg"].dropna())
compd.loc[cond1&cond2&cond3&cond4,:]

,name,position,college,NBA__3ptapg,NBA__3ptpct,NCAA_ft,NBA_g_played
3,Mahmoud Abdul-Rauf,G,Louisiana State University,2.3,0.354,0.863,586
20,Michael Adams,G,Boston College,4.4,0.332,0.750,653
26,Arron Afflalo,G,"University of California, Los Angeles",2.9,0.386,0.781,761
30,Danny Ainge,G,Brigham Young University,2.5,0.378,0.816,1042
43,Cory Alexander,G,University of Virginia,2.2,0.354,0.693,307
...,...,...,...,...,...,...,...
4425,Mo Williams,G,University of Alabama,3.5,0.378,0.847,818
4439,Shammond Williams,G,University of North Carolina,2.2,0.366,0.849,325
4510,Haywoode Workman,G,"Winston-Salem State University, Oral Roberts U...",1.0,0.323,0.788,359
4531,Lonnie Wright,G,Colorado State University,1.3,0.255,NaN,335
4545,Danny Young,G,Wake Forest University,1.0,0.327,0.708,574

In [49]:
compd.loc[1,"name"]#use loc and iloc for accessing and splicing data

'Zaid Abdul-Aziz'